{:deps {cawdy/cawdy                   {:mvn/version "0.3.1"}
        io.github.clojure/tools.build {:mvn/version "0.10.5"}
        io.github.seancorfield/build-uber-log4j2-handler
        {:git/tag "v2.23.1" :git/sha "4cf7360"}
        slipset/deps-deploy           {:mvn/version "0.2.2"}}
 :aliases {;; do not add aliases here
           ;; that are already present in `practicalli/clojure-cli-config/deps.edn`
           }}
